/* src/components/RecipeFinder.css */

/* Style for the input and search button */
.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Style for recipe cards */
  .card {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    color: #777;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card ul li {
    margin-bottom: 5px;
  }
  
  .card-body {
    padding: 15px;
  }
  